<div class="col-sm-6 col-md-6">
  <div class="blog-post">
    <header>
      <h4 class="date"><%= blog.created_at.day %><br><%=I18n.t("abbr_month_names")[ blog.created_at.month ]%></h4>
      <div class="blog-element">
      <% if blog.url.url && FileTest.exist?("#{Rails.root}/public/#{blog.url}") %>
          <%= image_tag blog.url,class: "img-fluid" %>
        <% else %>
          <%= image_tag asset_url("1.jpg"), class: "img-fluid" %>
        <% end %>
      </div>
    </header>
    <div class="blog-content">
      <h4>
        <%= link_to blog.title, user_blog_path(blog.user_id, blog.id) %>
      </h4>
      <div class="post-meta">
        <span>By
          <%= link_to blog.user.name, user_home_path(blog.user) %>
        </span>
        <span>
          <a href="#"><%= blog.comments.length %> Comments</a>
        </span>
        <span>
          <a href="#"><%= blog.views %> views</a>
        </span>
      </div>
      <p><%= blog_preview(blog.content) %></p>
    </div>
  </div>
</div>
