<div class="my-container">
  <p id="notice"><%= notice %></p>
  <section id="blog-grid" class="section blog blog-grid">
    <div class="container">
      <% if current_user == @user %>
      <%= link_to new_blog_path, class: "btn btn-primary" do %>
      <i class="fa fa-plus"></i>
      New blog
      <% end %>
      <% end %>
      <h2 class="center">My blogs</h2>
        <div id="blogContent" class="section-content">
          <br>
          <br>
          <div class="row">
            <%# <%= will_paginate %>
            <% if @blogs.any? %>
            <%= render @blogs %>
          <% else %>
            <h3>No blog yet</h3>
            <% end %>
            <%# <%= will_paginate %>
          </div>
      </section>
    </div>
  </div>
</div>
<script>
  $("#sidebar_blog").addClass("active");
</script>
