<section id="blog-grid" class="section blog blog-grid">
  <div class="container">
    <div id="blogContent" class="section-content">
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <div class="blog-post">
            <header>
              <h4 class="date">29<br>Aug</h4>
              <div class="blog-element">
                <img class="img-fluid" src=<%=asset_url("1.jpg")%>>
              </div>
            </header>
            <div class="blog-content">
              <h4>
                <a href="#">Why Billionaires join Gates Giving Pledge</a>
              </h4>
              <div class="post-meta">
                <span>By
                  <a href="#">Prium</a>
                </span>
                <span>
                  <a href="#">30 Comments</a>
                </span>
              </div>
              <p>They signed the Giving Pledge -- an effort started in 2010 by ...</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="blog-post">
            <header>
              <h4 class="date">29<br>Aug</h4>
              <div class="blog-element">
                <img class="img-fluid" src=<%=asset_url("2.jpg")%>>
              </div>
            </header>
            <div class="blog-content">
              <h4>
                <a href="#">Web agency template released</a>
              </h4>
              <div class="post-meta">
                <span>By
                  <a href="#">John Snow</a>
                </span>
                <span>
                  <a href="#">30 Comments</a>
                </span>
              </div>
              <p>Data from the Centers for Medicare Medicaid Services include payments and ..</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <div class="blog-post">
            <header>
              <h4 class="date">29<br>Aug</h4>
              <div class="blog-element">
                <img class="img-fluid" src=<%=asset_url("1.jpg")%>>
              </div>
            </header>
            <div class="blog-content">
              <h4>
                <a href="#">Web agency template released</a>
              </h4>
              <div class="post-meta">
                <span>By
                  <a href="#">John Snow</a>
                </span>
                <span>
                  <a href="#">30 Comments</a>
                </span>
              </div>
              <p>Data from the Centers for Medicare Medicaid Services include payments and ..</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="blog-post">
            <header>
              <h4 class="date">29<br>Aug</h4>
              <div class="blog-element">
                <img class="img-fluid" src=<%=asset_url("2.jpg")%>>
              </div>
            </header>
            <div class="blog-content">
              <h4>
                <a href="#">A companytour to lake powel, arizona</a>
              </h4>
              <div class="post-meta">
                <span>By
                  <a href="#">Tailor</a>
                </span>
                <span>
                  <a href="#">30 Comments</a>
                </span>
              </div>
              <p>Lake Powell is a reservoir on the Colorado River, straddling the border between ...</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <div class="blog-post">
            <header>
              <h4 class="date">29<br>Aug</h4>
              <div class="blog-element">
                <img class="img-fluid" src=<%=asset_url("1.jpg")%>>
              </div>
            </header>
            <div class="blog-content">
              <h4>
                <a href="#">Why Billionaires join Gates Giving Pledge</a>
              </h4>
              <div class="post-meta">
                <span>By
                  <a href="#">Prium</a>
                </span>
                <span>
                  <a href="#">30 Comments</a>
                </span>
              </div>
              <p>They signed the Giving Pledge -- an effort started in 2010 by ...</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="blog-post">
            <header>
              <h4 class="date">29<br>Aug</h4>
              <div class="blog-element">
                <img class="img-fluid" src=<%=asset_url("2.jpg")%>>
              </div>
            </header>
            <div class="blog-content">
              <h4>
                <a href="#">Web agency template released</a>
              </h4>
              <div class="post-meta">
                <span>By
                  <a href="#">John Snow</a>
                </span>
                <span>
                  <a href="#">30 Comments</a>
                </span>
              </div>
              <p>Data from the Centers for Medicare Medicaid Services include payments and ..</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
