<div class="my-container">
  <div class="center">
    <%= gravatar_for(@user, size: 150)%>

  <br><br>
  <h2><%= @user.name %></h2>
  <p>Email: <%= @user.email %></p>
  </div>
  <br>
  <hr>
  <%= link_to user_blogs_path do %>
    Blog: <%= @blog.count %>
  <% end %>
  <br>
  <%= link_to user_albums_path do %>
    Album: <%= @album.count %>
  <% end %>
</div>
