<% if current_user %>
  <nav id="sidebar">
  <div class="sidebar-header">
    <h3><%=gravatar_for(current_user, size: 80)%></h3>
    <strong><%=gravatar_for(current_user, size: 40)%></strong>
  </div>
  <ul class="list-unstyled components">
    <li id="sidebar_home">
      <%= link_to user_home_path(current_user) do %>
        <i class="fa fa-home"></i> Home
      <% end %>
    </li>
    <li id="sidebar_about">
      <%= link_to about_path do %>
        <i class="fa fa-users"></i> About
      <% end %>
    </li>
    <li id="sidebar_album">
      <%= link_to albums_path do%>
        <i class="fa fa-image"></i>
        Albums
      <% end %>
    </li>
    <li id="sidebar_blog">
      <%= link_to blogs_path do%>
        <i class="fa fa-file-text"></i>
        Blogs
      <% end %>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-question-circle"></i>
        FAQ
      </a>
    </li>
  </ul>
</nav>
<% end %>
