<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Lab 1</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image" sizes="128x128" href="<%= asset_path 'icon/icon128.jpg' %>">
  </head>

  <body>
    <div id="background">
      <div class="contain">
        <%= render 'common/header'%>
        <div class="wrapper">
          <%= render 'common/sidebar'%>
          <div class="container">
          <p id="notice"><%= notice %></p>
          <p id="alert"><%= alert %></p>
          <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <%= render '/images/modal' %>
    <%= render '/images/uploader' %>
  </body>

  <script type="text/javascript">
    $(document).ready(function () {
      $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
      });
    });
  </script>

</html>
